<doctype html>
<title>Edit Data - Flask Database</title>
<h2>Edit Data</h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.project_name) }}
        {{ render_field(form.collection_type) }}
        {{ render_field(form.project_date) }}

        {{ render_field(form.begin_date) }}
        {{ render_field(form.begin_time) }}
        {{ render_field(form.designator) }}
        {{ render_field(form.loc_common) }}
        {{ render_field(form.loc_region) }}
        {{ render_field(form.loc_detailed) }}
        {{ render_field(form.collect_common) }}
        {{ render_field(form.altitude) }}
        {{ render_field(form.signal_type) }}
        {{ render_field(form.architecture) }}
        {{ render_field(form.band_no) }}
        {{ render_field(form.freq_bands) }}
        {{ render_field(form.antenna_loc) }}
        {{ render_field(form.size_gb) }}
        {{ render_field(form.total_files_no) }}
        {{ render_field(form.where_collected_to) }}
        {{ render_field(form.transfer_drive) }}
        {{ render_field(form.backup_drive) }}
        {{ render_field(form.logistics) }}
        {{ render_field(form.notes) }}
        {{ render_field(form.gps) }}
        {{ render_field(form.documentation) }}
    </dl>
    <p><input type=submit value=Submit>
</form>